build.message will break JSON format

This is my webhook part of .drone.yml
`template: |
      {
        "event": "{{ build.event }}",
        "owner": "{{ repo.owner }}",
        "repo": "{{ repo.name }}",
        "message": "{{ build.message }}",
      }`

when I push commit and my commit message is "test"
webhook will parse to 
`HEADERS: map[Content-Type:[application/json]]
  REQUEST BODY: {
  "event": "push",
  "owner": "owner",
  "repo": "test",
  "message": "test    <--- new line will break JSON format and error occured
"
}`



How should a new line break the JSON format? It's still properly quoted and valid JSON.

I am also having this issue, no JSON parser (that are compliant with the JSON spec) will accept this object.
For example: https://docs.python.org/3.7/library/json.html
> JSON (JavaScript Object Notation), specified by RFC 7159 (which obsoletes RFC 4627) and by ECMA-404, is a lightweight data interchange format inspired by JavaScript object literal syntax (although it is not a strict subset of JavaScript [1] ).

Per [RFC7159, Section 7. Strings](https://tools.ietf.org/html/rfc7159#section-7):
> All Unicode characters may be placed within the quotation marks, except for the characters that must be escaped: quotation mark, reverse solidus, and the **control characters (U+0000 through U+001F)**.

`U+000A`, LINE FEED (LF), and `U+000D`, CARRIAGE RETURN (CR), need therefore to be escaped as per the RFC7159 spec.

The [RenderTrim](https://github.com/drone/drone-template-lib/blob/master/template/template.go#L71) method of drone-template-lib is processed, but there is no space before the newline character at the end of the message, resulting in invalid processing.

My message example: 

```
更新个信息看看先\n
```

That's not the issue. You are getting the implementation of trim wrong, you can see it at https://golang.org/pkg/strings/#Trim.

Just a guess, but maybe you can use to Json from http://masterminds.github.io/sprig/defaults . html to properly format the message in json.

Seems that `trim` is a way to got - `{{trim build.message}}`.